@model HellowWorld.Models.Student
@* Directive avbove defines the type of the modle used is this view 
    Enabling comile tiume checking (and intellisense)
*@
@{
    ViewData["Title"] = "Welcome6";
}

<h1>Welcome6</h1>

We are using the model is this view
<h3>@Model.Name is @Model.Age old</h3>